@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-font-family: 'Roboto', sans-serif;
    --colour-light: hsl(45, 100%, 50%);
    --colour-dark: hsl(45, 100%, 25%);
}

body {
    height: 100vh;
    font-family: var(--main-font-family);
    background: white url('../images/background.jpg') no-repeat center center / cover fixed;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: fit-content;
    padding: 15px;
}

img#logo {
    display: block;
    width: 90px;
    margin: auto;
    margin-bottom: 15px;
}

input#name, input#email, input#password, input#login, input#register {
    display: block;
    width: 98%;
    height: 40px;
    margin: 15px auto;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font: bold 1em var(--main-font-family);
}

input#login, input#register {
    background-color: var(--colour-light);
    border: 1px solid var(--colour-dark);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0px;
}

input#login:hover, input#register:hover {
    background-color: var(--colour-light);
}

input#offers, input#terms, input#remember {
    accent-color: var(--colour-light);
}

a {
    color: var(--colour-light);
    text-decoration: none;
    font-weight: bold;
}

p {
    font-size: 0.9em;
}

main > p {
    text-align: center;
}

p#forgot {
    text-align: right;
}
